.side-bar
  .side-header
    .side-header__items
      %p.side-header__items__name
        baba
      %ul.side-header__items__menu
        =link_to "#",class: "side-header__btn" do
          = icon('far', 'edit')
        =link_to "#",class: "side-header__btn"do
          = icon('fas', 'cog')

  .groups
    %ul.groups__list
      %li.groups__list__title
        Techcamp
      %li.groups__list__comment
        まだメッセージはありません
    